@import 'scheme.scss';

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body {
    min-width: 45em;
}

.center {
    text-align: center;
}

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color-light;
    background: $primary-color;
    min-height: 100%;
    position: relative;
    padding: 0 2em;
    box-sizing: border-box;

    $nav-margin: 5em;

    #nav {
        height: $nav-margin;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    
        a {
            font-weight: bold;
            text-decoration: none;
            transition: color .25s ease;
            color: $text-color-light;
    
            &:hover, &.router-link-exact-active {
                color: $highlight-color;
            }
        }
    }

    .content {
        position: relative;
    }

    .users {
        li {
            list-style-type: none;
        }
    }
    
}