$gray: #4A5764;
$lightgray: #95A3B3;
$black: #222;
$white: #FFF;
$green: #42B983;

// External Colors
$console-games-wiki-bg-gradient: linear-gradient(90deg, $lightgray 0%, rgba(235,64,63,1) 50%, rgba(128,70,150,1) 100%);
$gamer-escape-gradient: linear-gradient(90deg, $lightgray 0%, #be2819 50%, #be2819 100%);
$ariyalas-toolkit-gradient: linear-gradient(90deg, $lightgray 0%, #181818 50%, #181818 100%);
$garland-tools-gradient: linear-gradient(90deg, $lightgray 0%, black 50%, black 100%);